@import "bootstrap/bootstrap.less";

body {
	height: 100%;
	ul {
		list-style: none;
		padding: 0;
		margin: 0; 
	}
}

#container {
	width: 640px;
	height: 640px;
	margin: 40px auto;
	border: 1px solid #DDD;
	overflow: hidden;
	position: relative;
	#slides {
		position: relative;
		li {
			img {
				position: absolute;
				max-width: auto;
				.opacity(0);
			}
		}
	}
	#controls {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color:rgba(32,32,32,0.65);
		.transition(all 0.4s linear);
		#playback {
			position: absolute;
			font-size: 160px;
			top: 50%;
			margin-top: -80px;
			line-height: 100%;
			text-align: center;
			display: block;
			width: 100%;
			a:hover {
				text-decoration: none;
			}
			#pause, #play {
				display: none;
			}
		}
		#meta {
			position: absolute;
			bottom: 0;
			background-color: rgba(32,32,32,0.65);
			color: @white;
			width: 92%;
			padding: 20px 4%;
			h4 {
				margin-top: 0; 
			}

		}
		#links {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: none;
			li {
				width: 200px;
				float: left;
				margin: 20px 10px;
				&:nth-child(odd) {
					float: right;
				}
				a {
					display: block;
					padding: 20px 10px;
					background-color: rgba(32,32,32,0.65);
					&:hover {
						color: @white;
						background-color: rgba(0,0,0,0.65);
					}
				}
			}
		}
	}
	&.load {
		&.played {
			#controls {
				#links {
					display: block;
				}
			}
		}
		#controls {
			#playback {
				#loading {
					display: none;
				}
				#play {
					display: inline;
				}
				#pause {
					display: none;
				}
			}
		}
		&.playing {
			#controls {
				.opacity(0);
				&:hover {
					.opacity(100);
				}
				#playback {
					#play {
						display: none;
					}
					#pause {
						display: inline;
					}
				}
				#links {
					display: none;
				}
			}
		}
	}
}