<% if (!_id) { %>
<li> <a href="/api/auth/facebook"> Login </a> </li>			
<% } else { %>
<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= firstname %> <%= lastname %> <b class="caret"></b></a>
		<ul class="dropdown-menu">
				<li><a href="/user/preferences"><i class="icon-cog"></i> Preferences</a></li>
				<li><a href="/help/support"><i class="icon-envelope"></i> Contact Support</a></li>
				<li class="divider"></li>
				<li><a href="/api/auth/logout"><i class="icon-off"></i> Logout</a></li>
		</ul>
</li>
<% } %>